# gensim
Pillow
streamlit
numpy 
pandas 
jupyterlab 
ipywidgets
pigeonXT-jupyter
st-annotated-text

# To use data labeling notebook, do this first
# jupyter nbextension enable --py widgetsnbextension
# jupyter labextension install @jupyter-widgets/jupyterlab-manager